# Build and Deploy to dev env.
# Trigger with tag dev
# Connected with repo environment 'dev'
name: OpenShift Build and Deploy to Dev

on:
  push:
    branches:
      - develop
      - GRANT-122-CD-DEV-ENV

env:
  CLUSTER: https://api.silver.devops.gov.bc.ca:6443
  AUTH_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}

jobs:
  build:
    name: OpenShift Build & Deploy
    runs-on: ubuntu-latest
    concurrency: ci-build
    env:
      BUILD_REF: ${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build & Deploy
        run: |
          oc login --token=$AUTH_TOKEN --server=$CLUSTER
          make server-build
