name: FE PR Checks

env:
  GIT_LOCAL_BRANCH: ${{ github.sha }}

on: [pull_request]

jobs:
  pr-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        name: checkout

      - name: Setup pre-reqs
        run: |
          cd client
          npm install yarn -g && yarn set version ./.yarn/releases/yarn-3.2.4.cjs
        shell: bash

      - uses: actions/cache@v2
        name: Cache yarn
        with:
          path: ./.yarn/cache
          key: ${{ runner.os }}-fe-yarn-${{ hashFiles('./yarn.lock') }}
          restore-keys: ${{ runner.os }}-fe-yarn-${{ hashFiles('./yarn.lock') }}

      - name: Install dependencies
        run: |
          cd client
          yarn install --immutable

      - name: Build dependencies
        run: yarn build

      - name: Close containers
        run: make close-test
        if: ${{ always() }}
